<div class="row" ng-controller="norrisController">
  <section class="col-md-5">
    <h2>Get Norris</h2>
    <p class="lead">Experience the greatness of Norris.</p>
    <button class="btn btn-primary btn-lg" ng-click="getNorrisJokeCtrl()">Get Norris</button>
    <article class="getNorris">
      <p>
        {{ norrisJoke }}
      </p>
    </article>
  </section>
  <section class="col-md-offset-2 col-md-5">
    <h2>Norris Yourself</h2>
    <p class="lead">You will never be Norris, but you can pretend.</p>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" type="text" name="firstName" ng-model="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control" type="text" name="lastName" ng-model="lastName">
    </div>
    <button class="btn btn-primary btn-lg" ng-click="getUserJokeCtrl(firstName, lastName)">Norris Yourself</button>
    <article class="norrisYourself">
      <p>
        {{ userJoke }}
      </p>
    </article>
  </section>
</div>
